.content {
	width: 1920px;
	height: 1080px;

}

#match-name{
	color: #fbfffe;
	font-size: 22px;
	font-weight: bold;
	background-color: #23272a;
	position: absolute;
	top: 782px;
	left: 96px;
}

#sponsor-logo-block {
	position: absolute;
	left: 247px;
	top: 814px;
	width: 200px;
	height: 152px;
	opacity: .9;
	background-color: #23272a;
}

#sponsor-logo {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	width: 200px;
	opacity: 1;

}

#logo {
	display: block;
  float: right;
  width: 80px;
}
