.content {
				z-index: 2;
}

.glass-bg {
				position: absolute;
				background-color: #4f4f4f;
				width: 1920px;
				height: 1080px;
				opacity: 0.8;
				z-index: 1;
}

.grid-wrapper {
	position: absolute;
	top: 410px;
	left: 660px;
	display: grid;
	grid-template-columns: 200px;
	grid-auto-rows: 1fr;
	grid-gap: 5px;
}

.sponsor-image {
	width: 200px;
}

.grid1 {
	grid-column: 1;
	grid-row: 1;
}

.grid2 {
	grid-column: 2;
	grid-row: 1;
}

.grid3 {
	grid-column: 3;
	grid-row: 1;
}

.grid4 {
	grid-column: 1;
	grid-row: 2;
}

.grid5 {
	grid-column: 2;
	grid-row: 2;
}

.grid6 {
	grid-column: 3;
	grid-row: 2;
}

.grid7 {
	grid-column: 1;
	grid-row: 3;
}

.grid8 {
	grid-column: 2;
	grid-row: 3;
}

.grid9 {
	grid-column: 3;
	grid-row: 3;
}


#countdown-area {
				display: block;
				margin: auto;
				text-align: center;
				margin-top: 26%;
				font-size: 88px;
}

#clock-main {
				color: black;
				font-family: "Droid Sans Mono";
				font-weight: normal;
				position: relative;
}

#div-message {
				position: absolute;
				text-align: center;
				left: 840px;
				top: 360px;
				font-size: 26px;
}

#obp-logo {
				display: block;
				margin: auto;
				text-align: center;
				margin-top: 10%;
				top: 80%;
}
